* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background: white;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

button {
  cursor: pointer;
}

.grid_container {
  display: flex;
}

.grid_choose_ships {
  background-color: rgb(243, 188, 225);
  height: 480px;
  margin: 20px;
  /* width: 400px;
  height: 400px; */
  width: 480px;
}

.info_controls {
  background-color: rgb(249, 255, 215);
  height: 480px;
  margin: 20px;
  width: 480px;
}

.grid_player {
  background-color: rgb(233, 233, 248);
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  margin: 20px;
  width: 480px;
}

.grid_computer {
  background-color: rgb(220, 245, 224);
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  margin: 20px;
  width: 480px;
}

.grid div {
  /* color: rgb(219, 230, 202); */
  border: 1px slategray solid;
  height: 40px;
  width: 40px;
}

.ship {
  border: 3px solid red;
}

.ship div {
  height: 40px;
  width: 40px;
  /* background-color: rgb(107, 136, 63); */
}

.destroyer_container {
  /* background-color: rgb(147, 255, 85); */
  background-color: rgb(245, 232, 213);
  display: flex;
  height: 40px;
  margin: 10px;
  width: 80px;
}

.destroyer_container_vertical {
  /* background-color: rgb(147, 255, 85); */
  background-color: rgb(245, 232, 213);
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  margin: 10px;
  width: 40px;
}

.submarine_container {
  /* background-color: rgb(255, 85, 190); */
  background-color: rgb(245, 232, 213);
  display: flex;
  height: 40px;
  margin: 10px;
  width: 120px;
}

.submarine_container_vertical {
  /* background-color: rgb(255, 85, 190); */
  background-color: rgb(245, 232, 213);
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  margin: 10px;
  width: 40px;
}

.cruiser_container {
  /* background-color: rgb(193, 85, 255); */
  background-color: rgb(245, 232, 213);
  display: flex;
  height: 40px;
  margin: 10px;
  width: 120px;
}

.cruiser_container_vertical {
  /* background-color: rgb(193, 85, 255); */
  background-color: rgb(245, 232, 213);
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  margin: 10px;
  width: 40px;
}

.battleship_container {
  /* background-color: rgb(13, 22, 146); */
  background-color: rgb(245, 232, 213);
  display: flex;
  height: 40px;
  margin: 10px;
  width: 160px;
}

.battleship_container_vertical {
  /* background-color: rgb(13, 22, 146); */
  background-color: rgb(245, 232, 213);
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  margin: 10px;
  width: 40px;
}

.carrier_container {
  /* background-color: rgb(255, 187, 85); */
  background-color: rgb(245, 232, 213);
  display: flex;
  height: 40px;
  margin: 10px;
  width: 200px;
}

.carrier_container_vertical {
  /* background-color: rgb(255, 187, 85); */
  background-color: rgb(245, 232, 213);
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  margin: 10px;
  width: 40px;
}

.destroyer {
  /* background-color: rgb(147, 255, 85); */
  /* background-color: rgb(245, 232, 213); */
}

.submarine {
  /* background-color: rgb(255, 85, 190); */
  /* background-color: rgb(245, 232, 213); */
}

.cruiser {
  /* background-color: rgb(193, 85, 255); */
  /* background-color: rgb(245, 232, 213); */
}

.battleship {
  /* background-color: rgb(13, 22, 146); */
  /* background-color: rgb(245, 232, 213); */
}

.carrier {
  /* background-color: rgb(255, 187, 85); */
  /* background-color: rgb(245, 232, 213); */
}
.cell_taken {
  background-color: rgb(243, 245, 161);
}

.playerShip {
  background-color: rgb(104, 90, 89);
}

.hide {
  /* display: none; */
  background-color: white;
}

.hidden {
  display: none;
  /* background-color: white; */
}

.hit {
  background-color: red;
}

.miss {
  background-color: rgb(67, 64, 199);
}
